<%- include partials/header.ejs %>
    <%- include partials/nav.ejs %>

    <div class="container-fluid mb-5 mt-3">
        <h1 class="text-center text-primary">Admin Dashboard</h1>
        <div class="row">
            <% poi.forEach(function(p, index){ %>
                <div id="card1" class="card bg-light col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 mb-1 mt-1">
                    <div class="card-body m-0">
                        <div class="postText">
                        <h5 class="card-title text-primary"><%= p.name %></h5>
                        </div>
                        
                        <span class="text-primary italic m-0">
                            LatLng:
                        </span>
                        <span class="text-primary italic m-0">
                            <%= p.loc.coordinates[1] %>, <%= p.loc.coordinates[0] %>
                        </span>                    
                        <span><a href="/delete/<%= p._id %>" class="btn btn-sm btn-outline-primary float-right">
                            <i class="fas fa-trash-alt mr-1"></i> Delete
                        </a></span>
                    </div> 
                </div>
            <% }) %>
        </div>
    </div>

<%- include partials/footer.ejs %>
